template(name='Assignments')
  #assignments
    h3 Assignments
    h5 Showing match

    if specificAssignment
      a(class='waves-effect waves-light btn', id='notify', style='margin-right:120px') Notify
    
    table
      tbody
        td
          h6 Assignment
          table
            thead
              tr
              td _id
              td host_last_name
              td host_first_name
              td mobile
              td address
              td participant_first_name
              td participant_last_name
              td university
              td Open
            tbody
              each assignments
                tr
                  td {{_id}}
                  td {{host_last_name}}
                  td {{host_first_name}}
                  td {{mobile}}
                  td {{address}}
                  td {{participant_first_name}}
                  td {{participant_last_name}}
                  td {{university}}
                  td 
                    a(class='waves-effect waves-light btn', href='{{pathFor "assignments"}}' style='margin-right:120px') Open
