template(name='Hosts')
  #hosts
    h3 List of hosts
    if hosts
      h5 Showing global List of hosts

      table
        thead
          tr
            th ID
            th Name
            th Contact
            th Flatmate
            th Contact Flatmate
            th Location
            th Info
            th Capacity
            th Delete / Edit
        tbody
            tr
              td
                a(class='waves-effect waves-light btn', id='addNewHost') Add new
                input(type="text",id="_id",style="display:none")
              td
                input(type="text",id="firstname")
              td
                input(type="text",id="lastname")
              td
                input(type="text",id="contact")
              td
                input(type="text",id="flatmate", placeholder="-")
              td
                input(type="text",id="contactFlatmate", placeholder="-")
              td
                input(type="text",id="location")
              td
                input(type="text",id="info")
              td
                input(type="text",id="capacity")
          each shifts
            tr
              td
                span(id="{{_id}}-_id") {{_id}}
              td
                span(id="{{_id}}-firstname") {{info.first_name}}
              td              
                span(id="{{_id}}-lastname") {{info.last_name}}
              td
                span(id="{{_id}}-contact") {{info.contect}}
              td
                span(id="{{_id}}-flatmate") {{info.flatmate}}
              td
                span(id="{{_id}}-flatmateContact") {{info.flatmateContact}}
              td
                span(id="{{_id}}-location") {{info.location}}
              td
                span(id="{{_id}}-info") {{info.info}}
              td
                span(id="{{_id}}-capacity") {{info.capacity}}
              td
                a(class='waves-effect waves-light btn deletebtn', name='{{_id}}') Delete
                a(class='waves-effect waves-light btn editbtn', name='{{_id}}') Edit
