template(name='Hosts')
  #hosts
    h3 List of hosts
    if hosts
      h5 Showing global List of hosts

      table
        thead
          tr
            th ID
            th First Name
            th Last Name
            th Contact
            th Guest
            th Contact Guest
            th Location
            th Info
            th Capacity
            th Delete / Edit
        tbody
            tr
              td
                a(class='waves-effect waves-light btn', id='addNewHost') Add new
                input(type="text",id="_id",style="display:none")
              td
                input(type="text",id="firstname")
              td
                input(type="text",id="lastname")
              td
                input(type="text",id="contact")
              td
                input(type="text",id="guest", placeholder="-")
              td
                input(type="text",id="contactGuest", placeholder="-")
              td
                input(type="text",id="location")
              td
                input(type="text",id="info")
              td
                input(type="text",id="capacity")
          each hosts
            tr
              td
                span(id="{{_id}}-_id") {{_id}}
              td
                span(id="{{_id}}-firstname") {{info.first_name}}
              td              
                span(id="{{_id}}-lastname") {{info.last_name}}
              td
                span(id="{{_id}}-contact") {{info.contact}}
              td
                span(id="{{_id}}-guest") {{info.guest}}
              td
                span(id="{{_id}}-guestContact") {{info.guestContact}}
              td
                span(id="{{_id}}-location") {{info.location}}
              td
                span(id="{{_id}}-info") {{info.info}}
              td
                span(id="{{_id}}-capacity") {{info.capacity}}
              td
                a(class='waves-effect waves-light btn deletebtn', name='{{_id}}') Delete
                a(class='waves-effect waves-light btn editbtn', name='{{_id}}') Edit
